@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
body {
  margin: 0;
  font-family: 'Karla', sans-serif !important;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

header {
  order: 2;
}

.navbar {
  box-shadow: 0px 3px 2px #ddd;
  height: 7vh;
  letter-spacing: 0.1em;
}

.navbar-toggler {
  border: none;
}

.banner {
  width: 100%;
  height: 92vh;
  background: linear-gradient(
    rgba(78, 75, 75, 0.7), 
    rgba(3, 38, 112, 0.7) 30%),
    url(./images/image1.jpg);
  background-size: cover;
  order: 1;
}